flows_raspberrypi.json
[
    {
        "id": "1e529aea.122b55",
        "type": "tab",
        "label": "HumTemp",
        "disabled": true,
        "info": "Prototype backend for arduino project that would record Humidity and temperature. "
    },
    {
        "id": "ed98a99f.da5ee8",
        "type": "tab",
        "label": "TerasseWeatherStatistics",
        "disabled": false,
        "info": "Record event for water on the terasse and fetch weather info. \n\n"
    },
    {
        "id": "48cbe9c.a428418",
        "type": "sqlitedb",
        "db": "/home/pi/databases/TerasseEvents.db",
        "mode": "RWC"
    },
    {
        "id": "dd94219d.f104d",
        "type": "sqlite",
        "z": "1e529aea.122b55",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "fixed",
        "sql": "--DROP TABLE HumTempReads;\n\nCREATE TABLE HumTempReads (\n\tid INTEGER PRIMARY KEY,\n\tdevice_name TEXT NOT NULL,\n\thumidity REAL NOT NULL,\n\ttemperature REAL NOT NULL,\n\ttimestamp TEXT NOT NULL\n);",
        "name": "CreateHumTempTable",
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "36fa9b1f.dc3944",
        "type": "inject",
        "z": "1e529aea.122b55",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "dd94219d.f104d"
            ]
        ]
    },
    {
        "id": "f07f4407.c66538",
        "type": "sqlite",
        "z": "1e529aea.122b55",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "prepared",
        "sql": "Insert into HumTempReads\n(device_name, humidity, temperature, timestamp)\nvalues\n($device_name, $humidity, $temperature, $timestamp)\n",
        "name": "InsertIntoHumTempReads",
        "x": 990,
        "y": 460,
        "wires": [
            [
                "39eadd7.1c30c22"
            ]
        ]
    },
    {
        "id": "9f825e5e.14ab9",
        "type": "inject",
        "z": "1e529aea.122b55",
        "name": "TriggerRandomDevice",
        "props": [
            {
                "p": "payload.device_name",
                "v": "randomDevice",
                "vt": "str"
            },
            {
                "p": "payload.timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "834df4c3.fa9868"
            ]
        ]
    },
    {
        "id": "47036527.c7764c",
        "type": "function",
        "z": "1e529aea.122b55",
        "name": "",
        "func": "msg.params = { \n    $device_name:msg.payload.device_name, \n    $humidity:msg.payload.humidity, \n    $temperature:msg.payload.temperature, \n    $timestamp:Date.now()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "f07f4407.c66538",
                "dcd3bee3.733e7"
            ]
        ]
    },
    {
        "id": "834df4c3.fa9868",
        "type": "random",
        "z": "1e529aea.122b55",
        "name": "add humidity",
        "low": 1,
        "high": 10,
        "inte": "false",
        "property": "payload.humidity",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "1f6f5102.0203ef"
            ]
        ]
    },
    {
        "id": "1f6f5102.0203ef",
        "type": "random",
        "z": "1e529aea.122b55",
        "name": "add temperature",
        "low": 1,
        "high": 10,
        "inte": "false",
        "property": "payload.temperature",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "47036527.c7764c",
                "4de5d624.843268"
            ]
        ]
    },
    {
        "id": "feb46d7b.86c73",
        "type": "sqlite",
        "z": "1e529aea.122b55",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "fixed",
        "sql": "select * from HumTempReads;",
        "name": "ReadAllHumTempData",
        "x": 580,
        "y": 840,
        "wires": [
            [
                "2c587c94.b95be4",
                "a01d4383.d16c6"
            ]
        ]
    },
    {
        "id": "ccc1997.c397d68",
        "type": "inject",
        "z": "1e529aea.122b55",
        "name": "TriggerRead",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "feb46d7b.86c73"
            ]
        ]
    },
    {
        "id": "2c587c94.b95be4",
        "type": "debug",
        "z": "1e529aea.122b55",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "dcd3bee3.733e7",
        "type": "debug",
        "z": "1e529aea.122b55",
        "name": "FunctionOutpu",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "ed3dbf37.5f0d4",
        "type": "http in",
        "z": "1e529aea.122b55",
        "name": "ReadAllHumTemp",
        "url": "/humtemp",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 860,
        "wires": [
            [
                "feb46d7b.86c73"
            ]
        ]
    },
    {
        "id": "a01d4383.d16c6",
        "type": "http response",
        "z": "1e529aea.122b55",
        "name": "ResponseReadAllHumTemp",
        "statusCode": "200",
        "headers": {},
        "x": 930,
        "y": 880,
        "wires": []
    },
    {
        "id": "b6dd5cdd.4ec3a",
        "type": "http in",
        "z": "1e529aea.122b55",
        "name": "PostHumTemp",
        "url": "/humtemp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "3f73ffa.0d61c",
                "45e4b167.17151"
            ]
        ]
    },
    {
        "id": "39eadd7.1c30c22",
        "type": "http response",
        "z": "1e529aea.122b55",
        "name": "ResponseHumTempPost",
        "statusCode": "201",
        "headers": {},
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "3f73ffa.0d61c",
        "type": "debug",
        "z": "1e529aea.122b55",
        "name": "PostRequest",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "45e4b167.17151",
        "type": "function",
        "z": "1e529aea.122b55",
        "name": "AddTimestampToPayload",
        "func": "msg.payload.timestamp = new Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "47036527.c7764c",
                "4de5d624.843268"
            ]
        ]
    },
    {
        "id": "4de5d624.843268",
        "type": "debug",
        "z": "1e529aea.122b55",
        "name": "FunctionInput",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "9c05f49c.3cefc8",
        "type": "comment",
        "z": "1e529aea.122b55",
        "name": "Curl post request that works. ",
        "info": "curl http://192.168.0.168:1880/humtemp --data '{\"device_name\": \"ManualPost\", \"humidity\": \"2.2\", \"temperature\": \"3.3\"}' -H \"Content-Type: application/json\"",
        "x": 180,
        "y": 500,
        "wires": []
    },
    {
        "id": "d39584c2.9cb068",
        "type": "comment",
        "z": "1e529aea.122b55",
        "name": "path",
        "info": "http://192.168.1.168:1880/humtemp",
        "x": 360,
        "y": 920,
        "wires": []
    },
    {
        "id": "40843669.ef8048",
        "type": "sqlite",
        "z": "ed98a99f.da5ee8",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "fixed",
        "sql": "--DROP TABLE HumTempReads;\n\nCREATE TABLE TerasseEvents (\n\tid INTEGER PRIMARY KEY,\n\ttimestamp TEXT NOT NULL,\n\tdescription TEXT NOT NULL\n);",
        "name": "CreateTables",
        "x": 610,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3971b0a8.7ef97",
        "type": "inject",
        "z": "ed98a99f.da5ee8",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "40843669.ef8048"
            ]
        ]
    },
    {
        "id": "d3892e28.4cc73",
        "type": "sqlite",
        "z": "ed98a99f.da5ee8",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "prepared",
        "sql": "Insert into TerasseEvents\n(description, timestamp)\nvalues\n($description, $timestamp)\n",
        "name": "InsertIntoHumTempReads",
        "x": 970,
        "y": 260,
        "wires": [
            [
                "9581caf3.bb7b18",
                "cc5cd4a.45ed128"
            ]
        ]
    },
    {
        "id": "400880c0.dc1e3",
        "type": "function",
        "z": "ed98a99f.da5ee8",
        "name": "",
        "func": "msg.params = { \n    $description:msg.payload.description, \n    $timestamp:Date.now()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "d3892e28.4cc73",
                "cc5cd4a.45ed128"
            ]
        ]
    },
    {
        "id": "ac21427f.95294",
        "type": "http in",
        "z": "ed98a99f.da5ee8",
        "name": "PostTerasseEvent",
        "url": "/TerasseEvent",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "400880c0.dc1e3",
                "cc5cd4a.45ed128"
            ]
        ]
    },
    {
        "id": "9581caf3.bb7b18",
        "type": "http response",
        "z": "ed98a99f.da5ee8",
        "name": "ResponseHumTempPost",
        "statusCode": "201",
        "headers": {},
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "57034326.6c6f6c",
        "type": "comment",
        "z": "ed98a99f.da5ee8",
        "name": "Curl post request that works. ",
        "info": "curl http://192.168.1.168:1880/TerasseEvent --data '{\"description\": \"DWP: Sydlig\", \"timestamp\": \"1617382318584.0\"}' -H \"Content-Type: application/json\"",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "cc5cd4a.45ed128",
        "type": "debug",
        "z": "ed98a99f.da5ee8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 400,
        "wires": []
    },
    {
        "id": "9bfb55cf.f3d3c8",
        "type": "sqlite",
        "z": "ed98a99f.da5ee8",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "fixed",
        "sql": "select * from TerasseEvents;",
        "name": "ReadAllHumTempData",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "10d48702.6f0009"
            ]
        ]
    },
    {
        "id": "b9070b3.8a923f8",
        "type": "http in",
        "z": "ed98a99f.da5ee8",
        "name": "ReadTerasseEvent",
        "url": "/TerasseEvent",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "9bfb55cf.f3d3c8"
            ]
        ]
    },
    {
        "id": "10d48702.6f0009",
        "type": "http response",
        "z": "ed98a99f.da5ee8",
        "name": "ResponseReadAllTerasseEvent",
        "statusCode": "200",
        "headers": {},
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "5829023f.13be3c",
        "type": "http request",
        "z": "ed98a99f.da5ee8",
        "name": "winddir",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.dmi.dk/dmidk_obsWS/rest/archive/daily/danmark/winddir/Aalborg/2021/{{req.params.month}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1120,
        "y": 700,
        "wires": [
            [
                "c7e5ba2b.9881e8",
                "29c4565a.e385ba"
            ]
        ]
    },
    {
        "id": "44e623a0.1b55bc",
        "type": "http in",
        "z": "ed98a99f.da5ee8",
        "name": "/WeatherInMonth/:month",
        "url": "/WeatherInMonth/:month",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "5829023f.13be3c"
            ]
        ]
    },
    {
        "id": "a01f6bc9.34edf8",
        "type": "inject",
        "z": "ed98a99f.da5ee8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "534f9f19.90f43"
            ]
        ]
    },
    {
        "id": "d8a425a0.bb38a8",
        "type": "debug",
        "z": "ed98a99f.da5ee8",
        "name": "MapRelevantFields",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c37a4404.d8b058",
        "type": "http request",
        "z": "ed98a99f.da5ee8",
        "name": "wind",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://www.dmi.dk/dmidk_obsWS/rest/archive/daily/danmark/wind/Aalborg/2021/{{req.params.month}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1110,
        "y": 840,
        "wires": [
            [
                "c7e5ba2b.9881e8",
                "ea9c8a21.61d138"
            ]
        ]
    },
    {
        "id": "761e326d.9093fc",
        "type": "splitter",
        "z": "ed98a99f.da5ee8",
        "name": "Split parameters",
        "property": "payload",
        "x": 880,
        "y": 1340,
        "wires": [
            [
                "d2d49d0.c203f6",
                "b16923a8.dd317"
            ]
        ]
    },
    {
        "id": "b16923a8.dd317",
        "type": "function",
        "z": "ed98a99f.da5ee8",
        "name": "MapRelevantFields",
        "func": "dataserie = msg.payload.dataserie;\nnewDataserie = [];\n\nfor (var data of dataserie) {\n    newDataserie.push(\n        {\n            timestamp: data.dateString,\n            value: data.valueOneDecimal\n        }\n    )\n}\n\nmsg.payload = { \n    dataserie:newDataserie,\n    unit:msg.payload.unit, \n    parameter:msg.payload.parameter\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 1160,
        "wires": [
            [
                "d8a425a0.bb38a8",
                "561bb51f.17b8cc"
            ]
        ]
    },
    {
        "id": "c7e5ba2b.9881e8",
        "type": "debug",
        "z": "ed98a99f.da5ee8",
        "name": "http",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 600,
        "wires": []
    },
    {
        "id": "d2d49d0.c203f6",
        "type": "debug",
        "z": "ed98a99f.da5ee8",
        "name": "split",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1280,
        "wires": []
    },
    {
        "id": "561bb51f.17b8cc",
        "type": "join",
        "z": "ed98a99f.da5ee8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 1160,
        "wires": [
            [
                "e62cf461.b4f1f8"
            ]
        ]
    },
    {
        "id": "e62cf461.b4f1f8",
        "type": "debug",
        "z": "ed98a99f.da5ee8",
        "name": "join",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1020,
        "wires": []
    },
    {
        "id": "29c4565a.e385ba",
        "type": "join",
        "z": "ed98a99f.da5ee8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1550,
        "y": 700,
        "wires": [
            [
                "ac61ff24.ba038",
                "e4517939.26f658"
            ]
        ]
    },
    {
        "id": "ac61ff24.ba038",
        "type": "debug",
        "z": "ed98a99f.da5ee8",
        "name": "join",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 560,
        "wires": []
    },
    {
        "id": "ea9c8a21.61d138",
        "type": "splitter",
        "z": "ed98a99f.da5ee8",
        "name": "Split parameters",
        "property": "payload",
        "x": 1320,
        "y": 840,
        "wires": [
            [
                "290092ba.1a0bbe",
                "29c4565a.e385ba"
            ]
        ]
    },
    {
        "id": "290092ba.1a0bbe",
        "type": "debug",
        "z": "ed98a99f.da5ee8",
        "name": "split",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 780,
        "wires": []
    },
    {
        "id": "608f1c9f.b9ca44",
        "type": "debug",
        "z": "ed98a99f.da5ee8",
        "name": "MapRelevantFields",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 560,
        "wires": []
    },
    {
        "id": "e4517939.26f658",
        "type": "function",
        "z": "ed98a99f.da5ee8",
        "name": "MapRelevantFields",
        "func": "newpayload = []\n\nfor (var datsets of msg.payload) {\n    newDataserie = [];\n\n    for (var data of datsets.dataserie) {\n        newDataserie.push(\n            {\n                timestamp: data.dateString,\n                value: data.valueOneDecimal\n            }\n        )\n    }\n    \n    \n    newpayload.push(\n        {\n            dataserie:newDataserie,\n            unit:datsets.unit, \n            parameter:datsets.parameter\n        }\n    )\n    \n}\n\nmsg.payload = newpayload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1810,
        "y": 700,
        "wires": [
            [
                "608f1c9f.b9ca44"
            ]
        ]
    },
    {
        "id": "534f9f19.90f43",
        "type": "template",
        "z": "ed98a99f.da5ee8",
        "name": "req.params",
        "field": "req.params",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"month\":\"April\"\n}",
        "output": "json",
        "x": 350,
        "y": 680,
        "wires": [
            [
                "5829023f.13be3c",
                "c37a4404.d8b058"
            ]
        ]
    }
]