flows_raspberrypi.json
[
    {
        "id": "1e529aea.122b55",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "48cbe9c.a428418",
        "type": "sqlitedb",
        "db": "/home/pi/databases/HumTemp.db",
        "mode": "RWC"
    },
    {
        "id": "dd94219d.f104d",
        "type": "sqlite",
        "z": "1e529aea.122b55",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "fixed",
        "sql": "--DROP TABLE HumTempReads;\n\nCREATE TABLE HumTempReads (\n\tid INTEGER PRIMARY KEY,\n\tdevice_name TEXT NOT NULL,\n\thumidity REAL NOT NULL,\n\ttemperature REAL NOT NULL,\n\ttimestamp TEXT NOT NULL\n);",
        "name": "CreateHumTempTable",
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "36fa9b1f.dc3944",
        "type": "inject",
        "z": "1e529aea.122b55",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "dd94219d.f104d"
            ]
        ]
    },
    {
        "id": "f07f4407.c66538",
        "type": "sqlite",
        "z": "1e529aea.122b55",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "prepared",
        "sql": "Insert into HumTempReads\n(device_name, humidity, temperature, timestamp)\nvalues\n($device_name, $humidity, $temperature, $timestamp)\n",
        "name": "InsertIntoHumTempReads",
        "x": 990,
        "y": 460,
        "wires": [
            [
                "39eadd7.1c30c22"
            ]
        ]
    },
    {
        "id": "9f825e5e.14ab9",
        "type": "inject",
        "z": "1e529aea.122b55",
        "name": "TriggerRandomDevice",
        "props": [
            {
                "p": "payload.device_name",
                "v": "randomDevice",
                "vt": "str"
            },
            {
                "p": "payload.timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "834df4c3.fa9868"
            ]
        ]
    },
    {
        "id": "47036527.c7764c",
        "type": "function",
        "z": "1e529aea.122b55",
        "name": "",
        "func": "msg.params = { \n    $device_name:msg.payload.device_name, \n    $humidity:msg.payload.humidity, \n    $temperature:msg.payload.temperature, \n    $timestamp:Date.now()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "f07f4407.c66538",
                "dcd3bee3.733e7"
            ]
        ]
    },
    {
        "id": "834df4c3.fa9868",
        "type": "random",
        "z": "1e529aea.122b55",
        "name": "add humidity",
        "low": 1,
        "high": 10,
        "inte": "false",
        "property": "payload.humidity",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "1f6f5102.0203ef"
            ]
        ]
    },
    {
        "id": "1f6f5102.0203ef",
        "type": "random",
        "z": "1e529aea.122b55",
        "name": "add temperature",
        "low": 1,
        "high": 10,
        "inte": "false",
        "property": "payload.temperature",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "47036527.c7764c",
                "4de5d624.843268"
            ]
        ]
    },
    {
        "id": "feb46d7b.86c73",
        "type": "sqlite",
        "z": "1e529aea.122b55",
        "mydb": "48cbe9c.a428418",
        "sqlquery": "fixed",
        "sql": "select * from HumTempReads;",
        "name": "ReadAllHumTempData",
        "x": 580,
        "y": 840,
        "wires": [
            [
                "2c587c94.b95be4",
                "a01d4383.d16c6"
            ]
        ]
    },
    {
        "id": "ccc1997.c397d68",
        "type": "inject",
        "z": "1e529aea.122b55",
        "name": "TriggerRead",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "feb46d7b.86c73"
            ]
        ]
    },
    {
        "id": "2c587c94.b95be4",
        "type": "debug",
        "z": "1e529aea.122b55",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "dcd3bee3.733e7",
        "type": "debug",
        "z": "1e529aea.122b55",
        "name": "FunctionOutpu",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "ed3dbf37.5f0d4",
        "type": "http in",
        "z": "1e529aea.122b55",
        "name": "ReadAllHumTemp",
        "url": "/humtemp",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 860,
        "wires": [
            [
                "feb46d7b.86c73"
            ]
        ]
    },
    {
        "id": "a01d4383.d16c6",
        "type": "http response",
        "z": "1e529aea.122b55",
        "name": "ResponseReadAllHumTemp",
        "statusCode": "200",
        "headers": {},
        "x": 930,
        "y": 880,
        "wires": []
    },
    {
        "id": "b6dd5cdd.4ec3a",
        "type": "http in",
        "z": "1e529aea.122b55",
        "name": "PostHumTemp",
        "url": "/humtemp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "3f73ffa.0d61c",
                "45e4b167.17151"
            ]
        ]
    },
    {
        "id": "39eadd7.1c30c22",
        "type": "http response",
        "z": "1e529aea.122b55",
        "name": "ResponseHumTempPost",
        "statusCode": "201",
        "headers": {},
        "x": 1280,
        "y": 460,
        "wires": []
    },
    {
        "id": "3f73ffa.0d61c",
        "type": "debug",
        "z": "1e529aea.122b55",
        "name": "PostRequest",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "45e4b167.17151",
        "type": "function",
        "z": "1e529aea.122b55",
        "name": "AddTimestampToPayload",
        "func": "msg.payload.timestamp = new Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "47036527.c7764c",
                "4de5d624.843268"
            ]
        ]
    },
    {
        "id": "4de5d624.843268",
        "type": "debug",
        "z": "1e529aea.122b55",
        "name": "FunctionInput",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "9c05f49c.3cefc8",
        "type": "comment",
        "z": "1e529aea.122b55",
        "name": "Curl post request that works. ",
        "info": "curl http://192.168.0.168:1880/humtemp --data '{\"device_name\": \"ManualPost\", \"humidity\": \"2.2\", \"temperature\": \"3.3\"}' -H \"Content-Type: application/json\"",
        "x": 180,
        "y": 500,
        "wires": []
    }
]