flows_raspberrypi.json
[{"id":"1e529aea.122b55","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a7a9bc6c.eb3e5","type":"http in","z":"1e529aea.122b55","name":"http get test","url":"testing","method":"get","upload":false,"swaggerDoc":"","x":300,"y":460,"wires":[["9ebfa90.851d458","663a761b.09c158"]]},{"id":"722484a7.71484c","type":"http response","z":"1e529aea.122b55","name":"RestResponse","statusCode":"200","headers":{},"x":630,"y":540,"wires":[]},{"id":"9ebfa90.851d458","type":"debug","z":"1e529aea.122b55","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":420,"wires":[]},{"id":"663a761b.09c158","type":"template","z":"1e529aea.122b55","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":430,"y":560,"wires":[["722484a7.71484c"]]}]